:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  height: calc(100vh - 16px);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.json-boxes {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.json-input {
  flex: 1 1 auto;
  width: 100%;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: border-color 0.25s;
  resize: none;
  overflow: auto;
}

.json-input:focus {
  outline: none;
}

.query-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.query-input {
  flex-grow: 1;
  padding: 0.6em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: border-color 0.25s;
}

.query-input:focus {
  outline: none;
}
